@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $('div[contentID="kh/importin"]').attr({ controller: 'kh', action: 'importin' });
        app.c.public_data['kh/importin'] = app.c.public_data['kh/importin'] || {};
        app.c.public_data['kh/importin']['once'] = false;
        app.kh = app.kh || {};
    });
</script>

<div class="contentbox-header">
    <a onclick="$.fn.menuTab.load({ url: '/kh/list', 'title': '客户管理', id: 'kh/list', nocache: '0' }); ">客户管理</a>
    &gt;
    <a class="" onclick="$.DHB.refresh();">导入客户</a>
</div>


<div class="col m-b-none">
    <div class="panel panel-default import p-b-none m-b-none o-f">
        <div class="bar-state clearfix">
            <div class="import-file curr-step">
                <p class="step"><i>1</i><span>上传客户资料</span></p>
                <div class="bg-img"></div>
            </div>
            <div class="import-sure">
                <p class="step"><i>2</i><span>确认导入</span></p>
            </div>
        </div>
        <div class="import-content">
            <div id="step-first" class="step-first" style="display: block">
                <h2>1、下载客户资料模板</h2>
                <div>
                    <p class="m-t-sm m-b-sm">模板表格使用说明：</p>
                    <div class="desc">
                        <p>1、文件后缀名必须为：xls 或xlsx （即Excel格式），文件大小不得大于6M</p>
                        <p>2、客户分类不允许为空，一旦为空，则本行数据不允许导入</p>
                        <p>3、客户名称不允许为空，一旦为空，则本行数据不允许导入</p>
                        <p>4、客户编码不允许为空，一旦为空，则本行数据不允许导入</p>
                        <p>5、客户状态不允许为空，且只能填写0-1之间的数字  0:停用 1:正常 ,如不符合，则本行数据不允许导入</p>
                        <p>6、客户导入不支持重复导入。对“客户编码”相同的客户，将不会被导入</p>
                    </div>
                </div>
                <div class="m-b-sm">
                    <button class="btn m-t w-xs btn-info box-shawn" type="button" onclick="app.kh.export_import_kh();">下载</button>
                </div>
                <div class="row1"></div>
                <h2>2、上传填写好的客户资料</h2>
                <div class="upload m-b">
                    <div>
                        <button onclick="app.kh.import_kh();" id="upload-file" class="btn w-xs btn-info box-shawn" type="button">上传</button>

                        <span class="desc">（请选择excel文件，一次最多上传 2000 条数据）</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 <!--设置库存预警-->
<div class="modal fade in" id="define-goods-downfailfile" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">下载导入失败数据</h4>
            </div>
            <form class="form-horizontal validate f0" method="post" id="">
                <div class="modal-body tab-content ">
                    <table class="debit-note-info">
                        <tbody>
                            <tr>
                                <td width="90" class="text-right">
                                    <label class="m-b">
                                        <span>导入结果:</span>
                                    </label>
                                </td>
                                <td>
                                    <label class="sub-label w-370 m-b m-l-sm1">
                                        <span id="ImportResult"></span>
                                         &nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                        <a href="" id="FailPath">点击下载失败数据</a>
                                    </label>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>





<script>
    app.kh = app.kh || {};

    app.kh.export_import_kh = function () {
        window.location.href = $.DHB.U('/kh/downloadexceltemp');
    }


    app.kh.import_kh = function () {
        $.DHB.singleUpload({ 'config': 'excel', 'callback': 'app.kh.verify_import_kh', 'allowed': 'xls,xlsx' });
    }

    app.kh.verify_import_kh = function (files) {

        if (typeof (files) != 'undefined') {
            $.post('/kh/importin', { filePath: files },
                function (json) {
                    if (json.Success) {
                        if (json.Level == '1') {
                            $.DHB.message({ content: json.Message, time: 2500, type: 's' });
                            $.fn.menuTab.load({ url: '/kh/list', 'title': '客户管理', id: 'kh/list', nocache: '1' });
                        }
                        else if (json.Level == '3') {
                            $(_ + "#ImportResult").html(json.Message);
                            $(_ + "#FailPath").attr('href', "../" + json.Data);  
                            $(_ + "#define-goods-downfailfile").modal('show');
                        }
                    } else {
                        $.DHB.message({ content: json.Message, time: 2500, 'type': 'e' });
                    }
                }, 'json'
         );

        }
    }


    app.kh.scroll_import_goods = function (type) {
        var intScroll = $(_ + 'form#import-data>div').scrollLeft();
        $(_ + 'form#import-data>div').scrollLeft(type == 'left' ? intScroll - 300 : intScroll + 300);
    }


</script>
