<style type="text/css">
    body { background-color: #fff; font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif; }
    .panel { background: url('/Images/Error/404error.jpg') 45% 0 no-repeat; width: 500px; min-height: 600px; margin: auto; margin-top: 60px; color: #010101; }
    .panel .contents { position: relative; top: 430px; text-align: center; }
    .panel .contents p { line-height: 30px; }
    .panel .contents .p1 { font-weight: 600; font-size: 24px; }

    .ui-btn-theme { background-color: #6583B2; font-size: 18px; }
</style>

<div class="panel">
    <div class="contents">
        <p class="p1">很抱歉，您要访问的页面不存在！</p>
        <div class="btn-group" style="margin-top:30px;">
            <a class="ui-btn ui-btn-theme" href="javascript:;" onclick="javascript:history.back();">
                <span class="ui-btn-return-blue-ico"></span><span class="ui-btn-txt">返回</span>
            </a>
        </div>
    </div>
</div>