@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mobile</title>
</head>
<body>
    <div>
        移动端错误页
    </div>
</body>
</html>
