/* 
 * My97 DatePicker 4.8
 */

.WdateDiv { width: 263px; background-color: #FFFFFF; padding: 8px; background-clip: padding-box; color: #333; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); }

.WdateDiv2 { width: 360px; }
.WdateDiv * { font-size: 9pt; }

.WdateDiv .NavImg a { display: block; cursor: pointer; height: 16px; width: 16px; margin-top: 3px; }

.WdateDiv .NavImgll a { float: left; background: transparent url(img.gif) no-repeat scroll 0 0; }
.WdateDiv .NavImgl a { float: left; background: transparent url(img.gif) no-repeat scroll -16px 0; }
.WdateDiv .NavImgr a { float: right; background: transparent url(img.gif) no-repeat scroll -32px 0; }
.WdateDiv .NavImgrr a { float: right; background: transparent url(img.gif) no-repeat scroll -48px 0; }
.WdateDiv .NavImg a:hover { color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }

.WdateDiv #dpTitle { height: 24px; margin-bottom: 2px; padding: 1px; }

.WdateDiv .yminput { margin-top: 2px; text-align: center; height: 20px; border: 0px; width: 50px; cursor: pointer; color: #58666e !important; }
.WdateDiv .yminput:hover { color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }
.WdateDiv .yminputfocus { margin-top: 2px; text-align: center; font-weight: bold; height: 20px; color: #58666e !important; border: #fff 1px solid; width: 50px; }

.WdateDiv .menuSel { z-index: 1; position: absolute; background-color: #FFFFFF; border: #ccc 1px solid; display: none; }

.WdateDiv .menu { cursor: pointer; background-color: #fff; }

.WdateDiv .menuOn { cursor: pointer; color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }

.WdateDiv .invalidMenu { color: #aaa; }

.WdateDiv .YMenu { margin-top: 20px; }

.WdateDiv .MMenu { margin-top: 20px; *width: 62px; }

.WdateDiv .hhMenu { margin-top: -90px; margin-left: 26px; }

.WdateDiv .mmMenu { margin-top: -46px; margin-left: 26px; }

.WdateDiv .ssMenu { margin-top: -24px; margin-left: 26px; }

.WdateDiv .Wweek { text-align: center; background: #DAF3F5; border-right: #c7d3d6 1px solid; }

.WdateDiv .MTitle { background-color: #edf1f2; color: #58666e; font-weight: bold; }
.WdateDiv .MTitle div { margin-left: 13px; }
.WdateDiv .WdayTable2 { border-collapse: collapse; border: #c5d9e8 1px solid; }
.WdateDiv .WdayTable2 table { border: 0; }

.WdateDiv .WdayTable { line-height: 30px; }
.WdateDiv .WdayTable td { text-align: center; }

.WdateDiv .Wday { cursor: pointer; color: #58666e !important; }

.WdateDiv .WdayOn { cursor: pointer; color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }

.WdateDiv .Wwday { cursor: pointer; color: #58666e !important; }

.WdateDiv .WwdayOn { cursor: pointer; color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }
.WdateDiv .Wtoday { cursor: pointer; color: #10d1aa; }
.WdateDiv .Wselday { background-color: #FF8A5C; color: #FFF; }
.WdateDiv .WspecialDay { background-color: #66F4DF; }

.WdateDiv .WotherDay { cursor: pointer; color: #58666e !important; }

.WdateDiv .WotherDayOn { cursor: pointer; color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }

.WdateDiv .WinvalidDay { color: #aaa; }

.WdateDiv #dpTime { float: left; margin-top: 15px; margin-right: 0px; }

.WdateDiv #dpTime #dpTimeStr { margin-left: 1px; }

.WdateDiv #dpTime input { width: 18px; height: 20px; text-align: center; border: #ccc 1px solid; }

.WdateDiv #dpTime .tB { border-right: 0px; }

.WdateDiv #dpTime .tE { border-left: 0; border-right: 0; }

.WdateDiv #dpTime .tm { width: 7px; border-left: 0; border-right: 0; }

.WdateDiv #dpTime #dpTimeUp { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -32px -16px; }

.WdateDiv #dpTime #dpTimeDown { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -48px -16px; }

.WdateDiv #dpQS { float: left; margin-right: 3px; margin-top: 14px; margin-left: 7px; background: url(img.gif) no-repeat 0px -15px; width: 24px; height: 24px; cursor: pointer; }
.WdateDiv #dpControl { text-align: right; height: 35px; line-height: 35px; padding-top: 10px; }
.WdateDiv .dpButton { border: #ccc 1px solid; margin-top: 2px; margin-right: 2px; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; cursor: pointer; display: inline-block; font-size: 12px; font-weight: 400; line-height: 1.42857; margin-bottom: 0; padding: 2px 4px; text-align: center; vertical-align: middle; white-space: nowrap; background-color: #fff; border-color: #dee5e7 #dee5e7 #d8e1e3; box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1); color: #58666e !important; }
.WdateDiv .dpButton:hover { color: #58666e !important; background-color: #edf1f2; border-color: #c7d3d6; }
