<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<properties uri="file://CyApp.config"/>

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<providers uri="assembly://CySoft.DAL/CySoft.DAL.Configs/providers.config" />

	<database>
		<provider name="sqlServer4.0"/>
		<dataSource name="Database" connectionString="Data Source=${datasource};Initial Catalog=${database};Persist Security Info=True;User ID=${userid};Password=${password};Load Balance Timeout=10;Pooling=True;Min Pool Size=3;Max Pool Size=5;"/>
	</database>

	<sqlMaps />

</sqlMapConfig>