<table class="table m-b-none row1 selectAll-table status-box one-line stockManager" onmouseover="$.DHB.func.listOperate(this);" style="table-layout: fixed" data-operateinit="1">
    <thead>
        <tr>
            <th width="80" class="table-p-l-sm table-p-r-xsm-fixed">
                <label class="i-checks m-b-none">
                    <input type="checkbox" onclick="$.DHB.func.selectAllThis(this);">
                    <i>
                    </i>
                </label>
            </th>
            <th width="160">客户名称</th>
            <th width="100">客户编号</th>
            <th width="15.12%" class="table-p-l-xsm table-p-r-xsm">登录账号</th>
            <th width="11.88%" class="table-p-r-xsm">联系人</th>
            <th width="11.88%" class="table-p-r-xsm">客户类型</th>
            <th width="11.88%" class="table-p-r-xsm">归属地区</th>
            <th width="120">结算方式</th>
            <th width="11.88%" class="table-p-r-xsm">业务员</th>
            <th width="11.88%" class="table-p-r-xsm">账号状态</th>
            <th width="25.48%" class="table-p-r-sm">备注</th>
        </tr>
    </thead>
    <tbody>
        <tr id="row-goods-id-27327" class=" tr-status-finished " data-init="1">
            <td class="table-p-l-sm table-p-r-xsm-fixed">
                <label class="i-checks m-b-none">
                    <input type="checkbox" name="client_id[]" good="27327" value="2040">
                    <i>
                    </i>1
                </label>
            </td>
            <td><a class="list-link" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=27327','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">超赢科技111</a></td>
            <td>10056</td>
            <td class="table-p-l-xsm table-p-r-xsm">17780583251</td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">二级客户</td>
            <td class="table-p-r-xsm">成都</td>
            <td class="table-p-r-xsm">
                后付
            </td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">
                <span class="status-finished">已启用</span>
                <!-- <div  class="look-out1" >
                    <div class="min-height-operate">
                        <a class="bg-state bg-state-info"  href="javascript:;" onclick="app.client.auditclient(27327,'SF');">停用</a>
                    </div>
                </div> -->
            </td>
            <td class="list-operate table-p-r-sm">
                <p class="cut-out" style="visibility: visible;">
                    --

                </p>
                <div class="look-out1" style="display: none;">
                    <div class="second-height-operate">
                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=27327','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">查看</a>

                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=editClient&amp;id=2040','title':'客户管理',id:'ClientGroup/index',nocache:'0'}); ">编辑</a>


                        <a class="bg-state bg-state-info" href="javascript:;" onclick="app.client.auditclient(27327,'SF');">停用</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="row-goods-id-19083" class=" tr-status-finished ">
            <td class="table-p-l-sm table-p-r-xsm-fixed">
                <label class="i-checks m-b-none">
                    <input type="checkbox" name="client_id[]" good="19083" value="1830">
                    <i>
                    </i>2
                </label>
            </td>
            <td><a class="list-link" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=19083','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">超赢科技222</a></td>
            <td>10037</td>
            <td class="table-p-l-xsm table-p-r-xsm">15075593302</td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">二级客户</td>
            <td class="table-p-r-xsm">成都</td>
            <td class="table-p-r-xsm">
                现付
            </td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">
                <span class="status-finished">已启用</span>
                <!-- <div  class="look-out1" >
                    <div class="min-height-operate">
                        <a class="bg-state bg-state-info"  href="javascript:;" onclick="app.client.auditclient(19083,'SF');">停用</a>
                    </div>
                </div> -->
            </td>
            <td class="list-operate table-p-r-sm">
                <p class="cut-out" style="visibility: visible;">
                    --

                </p>
                <div class="look-out1" style="display: none;">
                    <div class="second-height-operate">
                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=19083','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">查看</a>

                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=editClient&amp;id=1830','title':'客户管理',id:'ClientGroup/index',nocache:'0'}); ">编辑</a>


                        <a class="bg-state bg-state-info" href="javascript:;" onclick="app.client.auditclient(19083,'SF');">停用</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="row-goods-id-400" class=" tr-status-finished ">
            <td class="table-p-l-sm table-p-r-xsm-fixed">
                <label class="i-checks m-b-none">
                    <input type="checkbox" name="client_id[]" good="400" value="1142">
                    <i>
                    </i>3
                </label>
            </td>
            <td><a class="list-link" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=400','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">超赢科技333</a></td>
            <td>10009</td>
            <td class="table-p-l-xsm table-p-r-xsm">13438962793</td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">一级客户</td>
            <td class="table-p-r-xsm">成都</td>
            <td class="table-p-r-xsm">
                后付
            </td>
            <td class="table-p-r-xsm">01</td>
            <td class="table-p-r-xsm">
                <span class="status-finished">已启用</span>
                <!-- <div  class="look-out1" >
                    <div class="min-height-operate">
                        <a class="bg-state bg-state-info"  href="javascript:;" onclick="app.client.auditclient(400,'SF');">停用</a>
                    </div>
                </div> -->
            </td>
            <td class="list-operate table-p-r-sm">
                <p class="cut-out" style="visibility: visible;">
                    --

                </p>
                <div class="look-out1" style="display: none;">
                    <div class="second-height-operate">
                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=400','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">查看</a>

                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=editClient&amp;id=1142','title':'客户管理',id:'ClientGroup/index',nocache:'0'}); ">编辑</a>


                        <a class="bg-state bg-state-info" href="javascript:;" onclick="app.client.auditclient(400,'SF');">停用</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="row-goods-id-117" class=" tr-status-finished ">
            <td class="table-p-l-sm table-p-r-xsm-fixed">
                <label class="i-checks m-b-none">
                    <input type="checkbox" name="client_id[]" good="117" value="1836">
                    <i>
                    </i>4
                </label>
            </td>
            <td><a class="list-link" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=117','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">超赢科技444</a></td>
            <td>10030</td>
            <td class="table-p-l-xsm table-p-r-xsm">18180847532</td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">二级客户</td>
            <td class="table-p-r-xsm">成都</td>
            <td class="table-p-r-xsm">
                现付
            </td>
            <td class="table-p-r-xsm"></td>
            <td class="table-p-r-xsm">
                <span class="status-finished">已启用</span>
                <!-- <div  class="look-out1" >
                    <div class="min-height-operate">
                        <a class="bg-state bg-state-info"  href="javascript:;" onclick="app.client.auditclient(117,'SF');">停用</a>
                    </div>
                </div> -->
            </td>
            <td class="list-operate table-p-r-sm">
                <p class="cut-out" style="visibility: visible;">
                    --

                </p>
                <div class="look-out1" style="display: none;">
                    <div class="second-height-operate">
                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=clientInfo&amp;id=117','title':'客户详情',id:'Client/clientInfo',nocache:'0'}); ">查看</a>

                        <a class="bg-state bg-state-info" href="javascript:;" onclick="$.fn.menuTab.load({url:'/?module=Manager&amp;controller=Client&amp;action=editClient&amp;id=1836','title':'客户管理',id:'ClientGroup/index',nocache:'0'}); ">编辑</a>


                        <a class="bg-state bg-state-info" href="javascript:;" onclick="app.client.auditclient(117,'SF');">停用</a>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>


<script type="text/javascript">
    app.c.public_data['shop/shoplist2'] = app.c.public_data['shop/shoplist2'] || {};
    app.c.public_data['shop/shoplist2']['_row_total_'] = '116',
    app.c.public_data['shop/shoplist2']['_page_size_'] = '20',
    app.c.public_data['shop/shoplist2']['_current_page_'] = '3';
</script>
