<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <add key="userid" value="sa" />
  <add key="password" value="sa" />
  <add key="database" value="Cysoft_YunPos" />
  <add key="datasource" value="192.168.1.180,1234" />

  <!--<add key="userid" value="sa" />
  <add key="password" value="sa@123" />
  <add key="database" value="cyun" />
  <add key="datasource" value="192.168.1.31,7445" />-->

  
  <!--<add key="userid" value="sa" />
  <add key="password" value="sa@123" />
  <add key="database" value="Cysoft_YunPos" />
  <add key="datasource" value="192.168.1.31,7445" />-->

  <!--<add key="userid" value="sa" />
  <add key="password" value="sa@123" />
  <add key="database" value="cyun" />
  <add key="datasource" value="192.168.1.31,7445" />-->


  
  <!--<add key="userid" value="sa" />
  <add key="password" value="123" />
  <add key="database" value="Cysoft_YunPos" />
  <add key="datasource" value="192.168.1.75,50851" />-->

  <!--<add key="userid" value="sa" />
  <add key="password" value="123" />
  <add key="database" value="Cysoft_YunPos" />
  <add key="datasource" value="192.168.1.75,50851" />-->


  <!--<add key="userid" value="sa" />
  <add key="password" value="sa123@123" />
  <add key="database" value="Cysoft_YunPos" />
  <add key="datasource" value="139.129.215.91,1344" />-->
  
  
  <!--CheckCode = 0时忽略识别码-->
  <add key="CheckCode" value="1" />
  <add key="clientvalid" value="7EB726ADA8454BCD859996B95466C94B" />
  <!--RedisServer-->
  <add key="RedisHost" value="192.168.1.111:6379" />
  <!--MSDP Sstting-->
  <add key="msdpHost" value="203.81.21.15:9902;59.151.43.24:9902;203.81.21.34:9900;59.151.43.24:9900;203.81.21.15:9900" />  
  <add key="msdpUserNname" value="CYTEST" />
  <add key="msdpPassword" value="cytest" />


  <!--AES加密密钥-->
  <add key="AesKey" value="8ACBE61D3EA122F29403F5021B186995" />
  <!-- 微信服务器配置Token 用GUID生成 全大写 -->
  <add key="weixin_Token" value="4387697861324637B2CAA223E541DC0A" />
  <!-- 微信服务器配置EncodingAESKey(消息加解密密钥) 全大写 -->
  <add key="weixin_EncodingAESKey" value="CISRYTLVZQTN5PG1W4JNCZVH9DB4J5LAKMHELPWS1ZR"/>
  <!-- 微信服务器配置AppID(应用ID) -->
  <add key="weixin_AppID" value="wxd7a2f7e108b9eee7"/>
  <!-- 微信服务器配置AppSecret(应用密钥) -->
  <add key="weixin_AppSecret" value="00a7dda53c0a5001105e2c7c000b5122"/>


  <!--是否本地调试 1：是-->
  <add key="isDebug" value="1" />
  <!--调用方服务名称-->
  <add key="StorePos_SERVICE" value="cyboss" />
  <!--调用方终端-->
  <add key="StorePos_FLAG_FROM" value="cyboss-server" />
  <!--用户系统Md5 Key-->
  <add key="StorePos_Md5Key" value="jw78$12*(1a@1z.w489!f2mkagmc" />
  <!--商户信息保存本地Cookie键名-->
  <add key="UserSys_CookieName" value="Boss_UserInfo" />

  <!--静态资源CDN-->
  <add key="jquery_1_9_1_cdn" value="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js" />

</settings>