<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="iBATIS">
      <section name="logging" type="Apache.Ibatis.Common.Logging.ConfigurationSectionHandler, Apache.Ibatis.Common" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--log4net config-->
    <add key="log4net.Internal.Debug" value="false" />
    <add key="log4net.Internal.Quiet" value="false" />
    <add key="log4net.Internal.Emit" value="true" />
    <!--服务接口通信Token-->
    <add key="ServiceToken" value="f#^*a5" />
    <!--日志接口Url-->
    <add key="LogAPIUrl" value="http://localhost:39385/LogService/Add"/>
    <!--本地key 支付接口协议生成sign的key-->
    <add key="LocalKey" value="dsadasfdsafasdas423432432t4"/>
    <!--编码-->
    <add key="Charset" value="UTF-8"/>
    <!--微信刷卡支付Url-->
    <add key="WXMicropayUrl" value="http://pospay.storepos.cn/Wechat/Micropay"/>
    <!--微信查询Url-->
    <add key="WXOrderQueryUrl" value="http://pospay.storepos.cn/Wechat/OrderQuery"/>
    <!--支付宝支付Url-->
    <add key="AliMicropayUrl" value="http://posalipay.storepos.cn/Alipay/alipaytradedoway"/>
    <!--支付宝查询Url-->
    <add key="AliQueryUrl" value="http://posalipay.storepos.cn/Alipay/alipaytradedoQuery"/>
    <!--超赢用户短信Url-->
    <add key="CyUserMsgUrl" value="http://sms.storepos.cn/SMS/Send"/>
    <!--超赢用户系统用户手机注册Url-->
    <!--<add key="CyUserRegUrl" value="http://user.storepos.cn/Auth/Reg"/>-->
    <add key="CyUserRegUrl" value="http://192.168.1.140:8012/Auth/Reg"/>
    <!--超赢用户系统用户查询用户Url-->
    <!--<add key="CyUserGetUserUrl" value="http://user.storepos.cn/Auth/GetUser"/>-->
    <add key="CyUserGetUserUrl" value="http://192.168.1.140:8012/Auth/GetUser"/>
    <!--超赢用户系统加密KEY-->
    <add key="Md5Key" value="jw78$12*(1a@1z.w489!f2mkagmc" />
    <!--注册主用户是否调用CY API-->
    <add key="FlagCyUserReg" value="1" />
    <!--超赢用户系统发送短信加密KEY-->
    <add key="Md5KeySMS" value="w*2jk$324@rtk-02xoawfem" />
    <!--超赢业务中心系统 服务查询Url-->
    <add key="CyGetServiceUrl" value="http://192.168.1.140:8012/ServiceApi/GetService"/>
    <!--<add key="CyGetServiceUrl" value="http://service.storepos.cn/ServiceApi/GetService"/>-->
    <!--超赢业务中心系统 服务购买页面Url-->
    <add key="CyBuyServiceUrl" value="http://192.168.1.140:8012/ServiceProduct/Detail"/>
    <!--<add key="CyBuyServiceUrl" value="http://service.storepos.cn/ServiceProduct/Detail"/>-->
    <!--<add key="CyBuyServiceUrl" value="http://192.168.1.140:8012/ServiceProduct/Index/yunpos"/>-->
    
    
    <!--超赢业务中心系统 选择服务购买页面Url-->
     <add key="CyBuyServiceUrlAll" value="http://192.168.1.140:8012/ServiceProduct/List/yunpos"/>
    
    
    <!--超赢业务中心系统 服务购买历史页面Url-->
    <add key="CyBuyServiceHistoryUrl" value="http://192.168.1.140:8012/UserOrder/List"/>

    <!--超赢业务中心系统 退出用户系统Url-->
    <add key="CyLoginOutUrl" value="http://192.168.1.140:8012/Account/Logout"/>
    
    <!--超赢业务中心系统加密KEY-->
    <add key="Md5KeyBusiness" value="jw78$12*(1a@1z.w489!f2mkagmc" />
    <!--服务试用期天数-->
    <add key="TryDays" value="15" />
    <!--服务到期提醒剩余天数-->
    <add key="MsgDays" value="30" />
    <!--云pos服务 单店编码-->
    <add key="BM_YUNPOS_DD" value="yunposddb" />
    <!--云pos服务 连锁编码-->
    <add key="BM_YUNPOS_LS" value="yunposlsb" />
    <!--云pos服务 集团编码-->
    <add key="BM_YUNPOS_JT" value="yunposjtb" />
    <!--云pos服务 不许要检查服务的接口配置  多个 请已 "|" 来分割开  例如：  a/b|a/c -->
    <!--目前加有:获取系统时间，检查服务 -->
    <add key="DoNotCheckAPI" value="SystemService/GetSystemTime|SystemService/CheckCYService|SystemService/ShopRegister" />
    <!--云pos客户端下载地址页面-->
    <add key="DownUrl" value="http://yun.pos.cn/download.html" />


    <!--专属客服 客服-->
    <add key="CUSTOMER_YUNPOS_CUS" value="刘正" />
    <!--专属客服 手机-->
    <add key="CUSTOMER_YUNPOS_PHONE" value="18924308070" />
    <!--专属客服 座机-->
    <add key="CUSTOMER_YUNPOS_TEL" value="020-11111111" />
    <!--专属客服 QQ-->
    <add key="CUSTOMER_YUNPOS_QQ" value="800023336" />
    <!--专属客服 邮箱-->
    <add key="CUSTOMER_YUNPOS_EMAIL" value="37992810@qq.com" />

    
    <!--商品资料系统 是否调用条码库API-->
    <add key="SHOPSP_CHECK" value="1" />
    <!--商品资料系统 商品请求URL-->
    <add key="SHOPSP_URL" value="http://goods.storepos.cn/Info/ProductInfo" />
    <!--商品资料系统 加密KEY-->
    <add key="SHOPSP_Md5KEY" value="perv(sd%4*238[ajsnfdq\jhgtwaqzxvnhbg" />

    
  </appSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://CySoft.DAL/CySoft.DAL.Configs/DALObjects.xml" />
      <resource uri="assembly://CySoft.BLL/CySoft.BLL.Configs/BusinessObjects.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="Apache.Ibatis.Common.Logging.Impl.Log4NetLoggerFA, Apache.Ibatis.Common.Logging.Log4Net">
        <arg key="configType" value="inline" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>

  <log4net>
    <!--Apache.Ibatis访问日志 写文件 -->
    <appender name="iBatisLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\IBatis\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="500KB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="Encoding" value="utf-8" />
      <!--为空默认情况下会独占日志文件，不能被File.Open，通过"log4net.Appender.FileAppender+MinimalLock"使用最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%logger: %date [%thread] %-5level [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--Apache.Ibatis访问日志 系统日志-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="Apache.Ibatis" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="iBatisLogFileAppender" />
      <appender-ref ref="TraceAppender" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Configuration.Interpreters.Config.Xml.XmlConfigurationInterpreter">
      <level value="OFF" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Model.ParameterMapping.ParameterMap">
      <level value="OFF" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Configuration.DefaultModelBuilder">
      <level value="OFF" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Session.Transaction.Ado.AdoTransaction">
      <level value="DEBUG" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Session.DataMapperSession">
      <level value="DEBUG" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Model.Statements.PreparedStatementFactory">
      <level value="OFF" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.MappedStatements.ReaderAutoMapper">
      <level value="DEBUG" />
    </logger>
    <logger name="Apache.Ibatis.DataMapper.Session.DataMapperSession">
      <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.Configuration.Statements.DefaultPreparedCommand">
      <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.Configuration.Statements.PreparedStatementFactory">
      <level value="DEBUG" />
    </logger>

    <!--消息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\\LogInfo\\" />
      <!--是否覆盖，默认是追加true-->
      <param name="AppendToFile" value="true" />
      <!--设置无限备份=-1-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!--单个日志最大尺寸-->
      <!--<param name="MaxFileSize" value="1048576" />-->
      <param name="MaximumFileSize" value="2MB" />
      <!--是否固定名字-->
      <param name="StaticLogFileName" value="false" />
      <!--配置日志名字格式-->
      <!--<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--滚动(日志分割)类型-->
      <!--<param name="RollingStyle" value="Date" />-->
      <param name="RollingStyle" value="Composite" />
      <!--文件的编码-->
      <param name="Encoding" value="utf-8" />
      <!--为空默认情况下会独占日志文件，不能被File.Open，通过"log4net.Appender.FileAppender+MinimalLock"使用最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--日志格式-->
        <!--<param name="ConversionPattern" value="Time：%d[%t]%n%m%n%n" />-->
        <param name="ConversionPattern" value="%d{HH:mm:ss,fff} - %m%n" />
      </layout>
    </appender>
    <logger name="loginfo" additivity="false">
      <level value="DEUBG" />
      <appender-ref ref="InfoAppender" />
    </logger>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!-- YZQ_Add -->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="40960" executionTimeout="360" />
    <!-- YZQ_Add -->
    <!--老板查询的validationKey【0222F136FE9381CA1999FB14373FA9237C200C5BF9728200F1B45836233655BA】和decryptionKey【97429F74127CFE9B6180718445ED4DABD27F6540E6A41603B7D9AA700C9DFD7D】-->
    <machineKey validation="HMACSHA256" validationKey="0222F136FE9381CA1999FB14373FA9237C200C5BF9728200F1B45836233655BA" decryption="AES" decryptionKey="97429F74127CFE9B6180718445ED4DABD27F6540E6A41603B7D9AA700C9DFD7D" />
    <!-- YZQ_Change -->
    <authentication mode="Forms">
      <forms loginUrl="/account/login" defaultUrl="/manager/home" name="Cysoft.YunPos.Auth" protection="All" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>

    <customErrors mode="RemoteOnly" defaultRedirect="/Error">
      <error statusCode="403" redirect="/Error?id=403" />
      <error statusCode="404" redirect="/Error?id=404" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="System.Web.WebPages" />-->
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60" />-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <remove name="ExtensionlessUrl-ISAPI-4.0_32bit " />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!-- YZQ_Add -->
    <staticContent>
      <!-- 字体文件 必须先remove防止和IIS原配置冲突 -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.86.0.518" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>